.container {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.userInput {
  font-size: 20px;
  border: none;
  border-bottom: 1px gray solid;
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.userInput:hover {
  box-shadow: gray 0px 1px 0px 0px;
}

.userInput:focus {
  outline: none;
  border-bottom: 1px #339af0 solid;
  box-shadow: #339af0 0px 1px 0px 0px;
}
.userInput:focus::-webkit-input-placeholder {
  color: transparent;
}
.userInput:focus::-moz-placeholder {
  color: transparent;
}
.userInput:-moz-placeholder {
  color: transparent;
}

.warning {
  margin-top: 10px;
  color: #339af0;
}
